@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes move {
    0% {
        transform: scale(1);
    }
    38% {
        transform: scale(0.8, 1) rotate(160deg);
    }
    40% {
        transform: scale(0.4, 1) rotate(160deg);
    }
    78% {
        transform: scale(1.3) rotate(-20deg);
    }
    80% {
        transform: scale(1.3) rotate(-20deg);
    }
    100% {
        transform: scale(1);
    }
}
.animate_fadeInTop {
    animation-name: fadeInDown;
    animation-duration: 0.2s;
}
.blob {
    /* fill: #023f92; */
    width: 3em;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%;
}
.react-grid-placeholder {
    @apply bg-red-400 opacity-60;
}
g.recharts-layer.recharts-cartesian-axis > g > g > text {
    fill: white;
}
@layer base {
    .mostly_half {
        height: calc(50% - 0.5rem);
    }
    .forceDarkMode {
        color-scheme: dark;
    }
    .forceLightMode{
        color-scheme: light;
    }
    p > a,
    main > a,
    li > a {
        color: #14b8a6;
    }
    h1 {
        @apply text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-5 md:text-6xl md:leading-10;
    }
    h2 {
        @apply text-xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-2xl sm:leading-5 md:text-4xl md:leading-10;
    }
    h3 {
        @apply text-lg font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-lg sm:leading-5 md:text-2xl md:leading-10;
    }
    h4 {
        @apply font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-sm sm:leading-5 md:text-xl md:leading-10;
    }
    hr {
        @apply mb-2 mt-4;
    }
    p {
        @apply my-2;
    }
    html {
        @apply h-full;
    }
    li {
        @apply list-disc ml-10;
    }
    code {
        @apply my-2;
    }
    summary {
        @apply cursor-pointer;
    }
}
.finance-card > h1,
.finance-card > h2,
.finance-card > h3,
.finance-card > h4 {
    @apply text-gray-200;
}

.footer-social-icons > a {
    color: inherit;
}

div.post_content > ul > li {
    @apply mb-1;
}

code:not(.code-highlight) {
    @apply text-pink-500;
}

.react-command-palette {
    display: none;
}
/**
 * CSS Styles for code highlighting.
 * Feel free to customize token styles 
 * by copying from a prismjs compatible theme:
 * https://github.com/PrismJS/prism-themes
 */

/* Code title styles */
.remark-code-title {
    @apply px-5 py-3 font-mono text-sm font-bold text-gray-200 bg-gray-700 rounded-t;
}

.remark-code-title + div > pre {
    @apply mt-0 rounded-t-none;
}

/* Code block styles */
.code-highlight {
    @apply float-left min-w-full;
}

.code-line {
    @apply block pl-4 pr-4 -mx-4 border-l-4 border-opacity-0;
}

.code-line.inserted {
    @apply bg-green-500 bg-opacity-20;
}

.code-line.deleted {
    @apply bg-red-500 bg-opacity-20;
}

.highlight-line {
    @apply -mx-4 bg-gray-200 dark:bg-gray-700 bg-opacity-50 border-l-4 border-primary-500;
}

.line-number::before {
    @apply inline-block w-4 mr-4 -ml-2 text-right text-gray-400;
    content: attr(line);
}

pre {
    overflow: auto;
}

/* Token styles */
/**
 * MIT License
 * Copyright (c) 2018 Sarah Drasner
 * Sarah Drasner's[@sdras] Night Owl
 * Ported by Sara vieria [@SaraVieira]
 * Added by Souvik Mandal [@SimpleIndian]
 */
.dark .token.comment,
.dark .token.prolog,
.dark .token.cdata {
    color: rgb(99, 119, 119);
    font-style: italic;
}

.dark .token.punctuation {
    color: rgb(199, 146, 234);
}

.dark .namespace {
    color: rgb(178, 204, 214);
}

.dark .token.deleted {
    color: rgba(239, 83, 80, 0.56);
    font-style: italic;
}

.dark .token.symbol,
.dark .token.property {
    color: rgb(128, 203, 196);
}

.dark .token.tag,
.dark .token.operator,
.dark .token.keyword {
    color: rgb(127, 219, 202);
}

.dark .token.boolean {
    color: rgb(255, 88, 116);
}

.dark .token.number {
    color: rgb(247, 140, 108);
}

.dark .token.constant,
.dark .token.function,
.dark .token.builtin,
.dark .token.char {
    color: rgb(130, 170, 255);
}

.dark .token.selector,
.dark .token.doctype {
    color: rgb(199, 146, 234);
    font-style: italic;
}

.dark .token.attr-name,
.dark .token.inserted {
    color: rgb(173, 219, 103);
    font-style: italic;
}

.dark .token.string,
.dark .token.url,
.dark .token.entity,
.dark .language-css .token.string,
.dark .style .token.string {
    color: rgb(173, 219, 103);
}

.dark .token.class-name,
.dark .token.atrule,
.dark .token.attr-value {
    color: rgb(255, 203, 139);
}

.dark .token.regex,
.dark .token.important,
.dark .token.variable {
    color: rgb(214, 222, 235);
}
.dark .token.important,
.dark .token.bold {
    font-weight: bold;
}

.dark .token.italic {
    font-style: italic;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #999988;
    font-style: italic;
}

.token.namespace {
    opacity: 0.7;
}

.token.string,
.token.attr-value {
    color: #e3116c;
}

.token.punctuation,
.token.operator {
    color: #393a34; /* no highlight */
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.property,
.token.regex,
.token.inserted {
    color: #36acaa;
}

.token.atrule,
.token.keyword,
.token.attr-name,
.language-autohotkey .token.selector {
    color: #00a4db;
}

.token.function,
.token.deleted,
.language-autohotkey .token.tag {
    color: #9a050f;
}

.token.tag,
.token.selector,
.language-autohotkey .token.keyword {
    color: #00009f;
}

.token.important,
.token.function,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}
